<header>
	<nav>
	{%- for key, url in { "home": "/" } %}
		<a {% if url == page.url %}class="active"{% else %}href="{{ url }}"{% endif %}>{{ key }}</a>
	{%- endfor %}
	</nav>
</header>
{#
	begin here
		protocol
		submissive initiation
	about me
	tribute me
	contact & sessions
		online sessions
		real time sessions
		contact me
	email
	twitter
#}
