<header>
	<nav>
		<a href="/">home</a>
		<a href="">begin here</a>
		<a href="/protocol">protocol</a>
		<a href="/submissive-initiation">submissive initiation</a>
		<a href="/aboutsirena">about me</a>
		<a href="/payme">tribute me</a>
		<a href="">contact & sessions</a>
		<a href="/online-sessions">online sessions</a>
		<a href="/real-time">real time sessions</a>
		<a href="/contact">contact me</a>
		<a href="mailto:sirenasirenxo@gmail.com">email</a>
		<a href="//twitter.com/sirena_siren_">twitter</a>
	</nav>
</header>
