---
layout: _base
---
Call Me Goddess
I am a Daughter of the Darkest Seas. I move like Liquid. My Voice, a Moon to the Tide.
I have had a life-long relationship with darkness, other-ness, with the opposite, the obscure. These are the places I thrive. your darkness may be your weakness. To Me, darkness is power. Practicing BDSM and Fetish Art has always felt like a beautiful darkness. A beautiful, dark process of growth and healing.

I have always been an Artist Who was interested in eroticism. My Professional Eroticism became My focus in 2014, and has taken many forms since then. It has become a process of realization of deepest desires, and healing from deepest wounds. Today, I appear before all as the elevated Goddess of Darkness, Spirit of Beauty, Siren of Lust. I captivate and ensnare My prey with razor sharp intelligence and unrivaled natural beauty. If you are of an addictive nature, you obsessions may have just found a new focus.

My Art, My healing is now carried through your vessel…in service to Me.

Kinks, Fetishes & Fantasies
My personal kinks include: 

anal training guidance

body worship: toes, feet, legs, ass, armpit, hand, nails, lips, hair

bondage

brainwashing

cash point meets

chastity

cock and ball torture

corporal punishment

cross-dressing

degradation

domestic service: cleaning, cooking, yard maintenance, vehicle maintenance

erotic hypnotism

emotional manipulation

exposure

feminization

financial domination

fishnets & stockings

foot worship & domination

guided intox

humiliation

impact play

ignore fetish

masturbation instruction

mindfucking

Mommy Domme

latex

leather

objectification

orgasm denial

penectomy fantasy 

politcal humiliation

poppers

protocol

predicament play

reprogramming: gender, human ATM, political, shame & trauma

sensory play

sensory deprivation

scent fetish

shopping trips

smoking fetish

tease & denial

verbal abuse

Limits
Everyone has limits. If you come to Me and say you have no limits I’m going to assume you’re either new, stupid, dangerous, or a combination of the three. If you don’t know what your limits are yet, I’d be more than happy to help you find them in a safe environment. 

My personal limits include:

animals

blackmail

children 

hard sports

involving non-consenting parties

racial humiliation

rape play

sex: NO. I will NEVER have sex with you. 

water sports

*I reserve the right to refuse a session or any interaction regarding a fetish I feel uncomfortable with, even if it is not on this list.

Interest Piqued?
Send Me something thats certain to get My attention. 
Tribute Now

