---
layout: _base
---
so close, but you can’t touch…
you’ve read up on all the details & rules. Now you’re ready to dive into My depths and play. 

Fill out the form below to inquire to begin your journey into submission, or book a session - either online or real time with Goddess Sirena. Sessions are only honored once tribute has been paid in full. To ensure a prompt response, send a tribute to accompany your inquiry, less than $50, you won’t be noticed. 

you MUST meet My screening requirements, no negotiations. I require all submissives who desire to book a session to complete their screening with age verification. 

Are you ready to make contact?
if you haven’t read and re-read the protocol, then you’re not yet.

Contact Me
Sirena Siren • American Dominatrix
DTW - TOL - MIA - NYC - PDX

form

