---
layout: _base
---
Online Sessions
Online sessions are one of My favorite ways to get to know a submissive. My dynamic personality, seductively cruel imagination, and exciting props & locations are sure conjure the perfect spell to transport you to sub space.

I offer a variety of online session services, via text chat, voice, and video. Online sessions are a great experience for one-time subs, or can be the beginnings of a long term D/s dynamic. I host sessions over encrypted platforms like Telegram & Kik. My base rate for an online session is $50 for 25 minutes of text session time - these sessions often include an occasional video or voice clip incentive for those who are well behaved. This rate may go up depending on the desired content your session is centered around, and you can always send additional tributes to extend a session. Sessions must be scheduled with at least 24 hours notice, unless you found Me through an active online platform and I have pre-screened you. 

Phone calls using Telegram are available for $6 /minute. Skype Video sessions are available for $10/minute, with a minimum of 10 minutes. 

you must tribute in full before beginning any session. 

Never had a session with an Domme online? Are you interested, curious, but maybe a little unsure? These are just some examples of the fetish sessions I host with submissives online. I am always excited and engaged in sessions, and often end up going overtime when W/we are having fun. If you don’t see something that piques your interest here, check out My long list of kinks & fetishes to see if ours align. Be especially mindful to go over My limits as well, and always respect My limits and your own.  

Foot Worship and Domination
My adorable, soft & perfectly pedicured size 7 feet we made to be worshipped. Subs love succumbing to My every whim by the power of My gorgeous feet. I love to control and instruct you with My massive collection of socks, stockings, shoes, and of course, My bare feet.  One peek at My perfect soles and you’ll be hooked.     

Feminization 
Transforming you into the girl you were meant to be is one of My greatest pleasures. I love dressing you up, teaching you about make-up, clothes, and how to behave like a good girl. Being feminine is a huge privilege, and I train men to value and nurture the balance of their masculine and feminine energies through this process.

Financial Domination 
you crave a total loss of control. you want to fall down the rabbit-hole into endless spending for a Woman you know you could never afford. Spoiling Me is a luxury you can’t help but indulge in. From wallet rinsing, to shopping occasions, to silent tributes, you can’t get enough. Sending and spoiling is your purpose. 

Humiliation and Objectification
Being treated like shit has never been so therapeutic. I have always been know for My razor sharp words, and submissives should prepare for a serious dose of emotional catharsis in a humiliation session. Experience shame, disgust and release at My command. Become less than the human you entered as while I objectify you and repurpose you into something more useful. 

Hypnosis and Reprogramming
Have you always wanted to tune in and drop out, become comfortably numb, and permanently impressionable? My seductive voice, spellbinding instructions, erotic rituals, and intuitive Dominance will guide you into your new form, a perfectly molded submissive for Goddess Sirena.

Mommy Domme
you want nothing more than to be coddled and cuddled. Whether you’re a diaper lover, a little, or just need some stern care; Mommy always knows best. My darling submissives idolize Me as their Mommy figure, and will do anything they can to prove themselves as Mommy’s dearest. My tasks can be caring or cruel… or the perfect combination of both, it just depends; have you been a good boy or girl?
