---
layout: _base
---
Send for My attention
Tributes are the only way to capture My attention.  Tributes may be sent to reserve session time, or better yet, to simply spoil Me as the Goddess I am. Tributes should be sent using the following methods ONLY, do not ask if I use any alternative methods:

Google Pay: sirenasirenxo@gmail.com
Cash App: $sirenasiren
Amazon US Gift Cards: sirenasirenxo@gmail.com
Bitcoin: Email for unique address
If you are sending for a session, remember, the bare minimum to impress is $50 USD.

Amazon Wish Lists
My best pets know that gifts of appreciation is one of My love languages. I keep a   carefully curated wishlist so you can have fun shopping for something I’m guaranteed to love. 

Those who want to send for something immediately practical may opt to send from My gift card wishlist.

For My darlings looking to go the extra mile when it comes to gifts, be sure to check out My home renovations wishlist, and be apart of something far bigger than yourself, a chance to perfect and simplify Goddess’ ultimate dwelling.

Remember, sending a gift from a wishlist is exactly that: A GIFT. Do not expect anything in return for this humble act of generosity and adoration. Wishlist purchases do not constitute as tribute for session time. 


