---
layout: _base
---
Hello Traveler
you are here because you are called to submission. Whether you’re new to BDSM, you’re exploring untapped desires, or your a seasoned player; you are here because you are seeking a refined, playful, seductive Femdom Goddess to submit yourself wholly to. I am that Goddess, as long as you are capable of respectfully, thoroughly, and clearly following all outlined protocol and contact expectations.

Follow the instructions provided on this page, and then move on to the About, Tribute, & Contact sections to seal your fate. 

Basic Contact Protocol
<ul>
	<li>Be Respectful! Basic manners are required in all communication.</li>
	<li>Address Me as Miss Sirena or Goddess at all times, over all forms of communication.</li>
	<li>Tribute. As a symbol of devotion. As a recognition for expertise in My service. In every event. On every occasion. Tributing is not an optional matter.</li>
	<li>Honesty. Communication. Self-Awareness. These are My golden tenants.</li>
	<li>your inquiries should always be direct, honest, short & sweet.</li>
	<li>I will not repeat Myself in any fashion, and I will not bend on any of My protocol, rules, or limits. Do not press the issue, as I have no issue pressing My block buttons.</li>
</ul>
