---
layout: _base
---
So… you want to serve…
I recognize the power in your desire to submit, and want to help you harness that power and energy into a Dominant/submissive dynamic that is beneficial to both your life, and more importantly Mine. Submission is a beautifully brave act which requires you to relinquish all of your power and control to Me, and I desire to honor and respect your decision, while testing you and the edges of your limits.

These instructions are specifically for submissives who desire to serve in a long term capacity, who want to dedicate themselves and make a recognizable impact in My life, in hopes of one day earning the titled of “Owned by Goddess Sirena”.

To  begin your journey towards total submission to Me, you must begin by reading the protocol section, reviewing My about Me, and sending Me a suggested $100 initial tribute as well as fill out the contact form. The very first foundation of O/our relationship is trust, and in submitting your complete initiation form, you are laying the groundwork for the strong basis of our bond. you privacy and discretion is always a top priority to Me, so your initiation information is reviewed and then sealed permanently in My Vault of Souls. If given reason, the only time your information will be withdrawn from the Vault is to be expunged permanently - either by request or by necessary action. If you have any remaining questions or concerns before finalizing your initiation, you may send at minimum a $25 tribute, along with your questions. 

Within 48 hours you will hear back from Me regarding the decision of your submissive initiation. If you pass initiation, congratulations - this is the beginning of an incredibly long and meaningful journey! After you have completed your screening, acceptance, and have outlined your experience, goals, and budget (yes, your initial tribute will be your first of many), you will be invited to your first session with your Goddess as your initial tribute generously covers your first 30 minute online text and voice session.

Long-distance submissives; 
W/we will discuss after your first session your goals and financial capacities of service, and I will develop a plan and schedule that works best for U/us both. Every relationship with every submissive is totally unique and different. Based on your interests, limits, and budget, I can develop the perfect pathway to molding you into My most desirable object. I strive to develop deep, meaningful connections with long-term long-distance submissives and consider them an incredibly important facet of My Kink lifestyle.

Local submissives;
I most prefer to meet curious local subs in a casual public cafe or coffee shop. you buying brunch is ideal. I like to begin O/our relationship with a friendly meet up where you can ask any general and respectful questions you might have, and I can do the same. I reserve the right to walk away from any sub who disrespects Me or any place of business in any manner without refunding their initiation tribute, and I will always give a first and final warning to any questionable behavior. 

I love meeting new people, especially those involved in My local kink scene. I enjoy attending as well as organizing and hosting many local fetish events, and am always looking for submissives are worthy of joining My performing harem at these events.

I am friendly, easy going, and non-judgemental, but also observant and calculated. I want you to feel comfortable sharing your deepest desires, but not too comfortable or informal. I am also very respectful of public discretion and will never arrive to a meet up in conspicuous clothing, unless of course that’s what you arrange for! Remember if you are feeling nervous or anxious - despite being an Otherworldly Goddess, I am Human too. I empathize with your feelings and want to make you feel comfortable and respected, just as I expect the same.
